<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Artikel</th>
      <th scope="col">Stückpreis</th>
      <th scope="col">Anzahl</th>
      <th scope="col">Gesamtpreis</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kartItem of shoppingKart | async">
      <td><a routerLink="/details/{{ kartItem.product.id }}">{{ kartItem.product.name }}</a></td>
      <td>
        <span class="card-text">{{ kartItem.product.discontPrice | currency: 'CHF ' }}&nbsp;</span>
        <span class="card-text text-warning"><del>{{ kartItem.product.price | currency: 'CHF ' }}</del></span>
      </td>
      <td>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-info productCountBtn" type="button"
              (click)="productService.removeProduct(kartItem.product)">-</button>
          </div>
          <span type="text" disabled class="productCountText">{{ kartItem.count }}</span>
          <div class="input-group-append">
            <button class="btn btn-outline-info productCountBtn" type="button"
              (click)="productService.addProduct(kartItem.product)">+</button>
          </div>
        </div>
      </td>
      <td>
        {{ productService.getProductTotal(kartItem) | currency: 'CHF '}}
      </td>
    </tr>
    <tr class="bg-white">
      <td colspan="3"></td>
      <td>{{ grandTotal | async | currency: 'CHF ' }}</td>
    </tr>
  </tbody>
</table>
<a routerLink="/checkout" class="btn btn-gucci" *ngIf="shoppingKart | async">Checkout</a>
