<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand p-0" routerLink="/">
    <img src="/img/Logo.png" id="logo" alt="BBZWGucci Logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    (click)="isMenuCollapsed = !isMenuCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Alle Produkte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basket">Warenkorb</a>
      </li>
    </ul>
    <a class="navbar-nav btn btn-gucci ml-auto mr-2" id="basketLink" routerLink="/basket">
      <img class="px-2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAqFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8j1z1tAAAAN3RSTlMAAQIDBAULDQ8QERQVFxobHB8hKS40ODlAUVZYXV9ndXl8g4ySlaKmr7K3vs7R3unr7e/19/n9j+bZkQAAAJRJREFUGFdlykcSgkAARNFvAB0VRQRzzjrm1Pe/mRsXOPM3XfWq4VfBhLgNXtIp+rfxPQvC2cvkrfzpAKw3eYxVAEgfeUyUH8Ac7SFRzVq7S1S3dgPQl56tW1PStXlrSwqAiaSsupSk1KwkGWAppwTYu9gFLi4OAdc0h8DDLRgPz1CM3BrQ854qMfKxwsLHmKln78YXqLgy61k6lkUAAAAASUVORK5CYII=" alt="Warenkorb" />
      {{ grandTotal | async | currency: 'CHF ' }} 
    </a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>