<div class="row mt-4" *ngIf="product$ | async as product; else notFoundTemplate">
  <div class="col-md-4">
    <img src="/img/{{ product.image  }}" alt="{{ product.name }}" class="mw-100" />
  </div>
  <div class="row-md-8 px-4">
    <h3 class="">{{ product.name }}</h3>
    <span class="">{{ product.discontPrice | currency: 'CHF ' }}&nbsp;</span>
    <span class="text-warning"><del>{{ product.price | currency: 'CHF ' }}</del></span>
    <p>{{ product.description }}</p>
    <button class="btn btn-gucci" (click)="productService.addProduct(product)">Zum Warenkorb hinzufügen</button>
  </div>
</div>
<ng-template #notFoundTemplate>
  <h3 class="text-danger">Das Produkt konnte nicht gefunden werden.</h3>
</ng-template>
